{
  "presets": ["babel-preset-env", "react"],
  "env": {
    "plugins": [
      [
        "import",
        { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
      ]
    ],
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "mode": "wrap"
          }
        ]
      ]
    }
  }
}
